@model User



<div class="card mx-auto mt-2" style="width: 23rem;">
    <img src="~/img/novaturienttam.jpg" class="card-img-top w-50 mx-auto">
    
    <form method="post" asp-action="UpdatePassword" asp-controller="Auth" class="card-body pt-0" style="margin-top: -2rem;">
        <input type="hidden" name="id" value="@Model.Id">
        <label class="form-label" for="sifre">Yeni Şifre:</label>
        <input class="form-control card-text" type="text" name="password" id="sifre" required minlength="8" maxlength="100">
        <label class="form-label" for="tekrarsifre">Tekrar Şifre:</label>
        <input class="form-control card-text" type="text" name="" id="tekrarsifre" required minlength="8" maxlength="100">
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn-sm btn-primary mt-2">Yenile</button>
            <span class="m-0 my-2 d-none text-center text-danger pe-2" id="SifrelerEslesmiyor">Şifreler Eşleşmiyor</span>
        </div>
    </form>
</div>

<script>
    
var inputs = document.querySelectorAll('.card-text');

var sayac = [0, 0];

inputs[0].addEventListener('focus', function () {
    sayac[0] = 1;
});

inputs[1].addEventListener('focus', function () {
    sayac[1] = 1;
});

var errorTagSpan = document.querySelector('#SifrelerEslesmiyor');
console.log(errorTagSpan)
// Her bir input alanı için döngü
inputs.forEach(function (inputElement) {
    inputs = document.querySelectorAll('.card-text');
    inputElement.addEventListener('focus', function () {
        errorTagSpan.classList.add('d-none');
    });

    inputElement.addEventListener('blur', function () {

        if (sayac[0] === sayac[1] && sayac[0] > 0 && inputs[0].value.length > 7 && inputs[0].value != inputs[1].value) {
            errorTagSpan.classList.remove('d-none');
            errorTagSpan.classList.add('d-block');
        }
    });
});




// Şifreler Eşleşmiyor Anonim Metodu.
// İşleyişi Şöyle Kayıt olurken iki Password alanı Farklıylsa Form gönderilmesini engelle ve 'Şifreler Eşleşmiyor' Hatası Yanıp-Söndür.
document.querySelector(" form").addEventListener("submit", async function (event) {

    inputs = document.querySelectorAll('.card-text');
    if (inputs[0].value != inputs[1].value) {
        // Form gönderilmesini engelle.
        event.preventDefault();
        // Bir döngü oluştur
        // 'Şifreler Eşleşmiyor' Hatası Yanıp-Sönsün.
        for (let i = 1; i < 9; i++) {
            console.log("Merdane")

            if (i % 2 == 1) {
                errorTagSpan.classList.remove('text-danger');
                errorTagSpan.classList.add('text-white');

            } else {
                errorTagSpan.classList.remove('text-white');
                errorTagSpan.classList.add('text-danger');
            }
            // Hər 0.1 saniyədə bir Yanıp-Sönsün.
            await new Promise(resolve => setTimeout(resolve, 100));

        } // for

    } // if

}); // Şifreler Eşleşmiyor Anonim Metodu.


</script>
