<hr>
<footer class="py-3 my-2">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Nasıl çalışıyor ?</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Kullanım şartları</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Gizlilik Hakları ve KVKK</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Mesafeli Satış Sözleşmesi</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">İade Süreci</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Novaturient</p>
</footer>
