<div class="text-center">
    <iframe height="400"  
        src="https://www.openstreetmap.org/export/embed.html?bbox=30.512844622135166%2C39.778673766241056%2C30.51551073789597%2C39.779786878628165&amp;layer=mapnik&amp;marker=39.779230324685095%2C30.514177680015564"
        style="border: 1px solid black; width:80%; margin:10px auto;">
    </iframe>
    <div class="text-center">
        <a class="btn btn-outline mx-auto" href="https://maps.app.goo.gl/EXPPmmapeEs84fUN7" target="_blank">
            <img height="50" width="50" src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Google_Maps_Logo_2020.svg" alt="Novaturient Psikoloji - Uzman Klinik Psikolog Naciye Usta">
            Haritalarda yakından görüntüle
        </a>
    </div>
</div>


    
  