
<style>
    .icon-remove::after {
        display: none;
    }
</style>

<nav class="navbar shadow-sm  navbar-expand-lg fixed-top bg-body-tertiary flex-column">
    <div class="container">
        <a class="navbar-brand-container p-0 d-flex align-items-center text-decoration-none pb-1" asp-controller="Home"
            asp-action="Index">
            <span class="navbar-brand2" style="background-image:url('/img/logo.jpg');"></span>
            <span class="logo h1 px-2 m-0 me-3">Novaturient</span>
        </a>

        <a href="tel:+905525497474" id="contact1" class="fs-6 py-1 text-secondary text-decoration-none">
            <div>
                <i class="fa-solid fa-phone pb-2 px-2 "></i>
                <span>
                    0552 549 74 74
                </span>
            </div>
        </a>

        @* Navbar açıp kapatmak için ikon *@
        <button class="navbar-toggler p-2 pb-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars fa-lg" aria-hidden="true"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse fs-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 link-list">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index#InputAd">Uzmana Sor</a>
                </li>
            </ul>

            <a href="tel:+905525497474" id="contact2" class="fs-6 mx-5 py-1 text-secondary text-decoration-none">
                <div class="">
                    <i class="fa-solid fa-phone pb-2 px-2"></i>
                    <span>
                        0552 549 74 74
                    </span>
                </div>
            </a>
             @* Eğer kullanıcı kayıt olmuşsa *@
            @if (Context.User.Identity.IsAuthenticated)
            {
                <form asp-controller="Auth" asp-action="LogOut" class="dropdown">
                    <button type="button" class="btn btn-default fw-bolder fs-6 dropdown-toggle icon-remove Log-Out-Button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap
                    </button>

                    <ul class="dropdown-menu text-center  " style="left:-100%;">
                        <p class="px-3 h5">Oturumu Kapatmak İstiyormusunuz?</p>
                        <li class="d-flex justify-content-evenly">
                            <button type="submit" class="btn btn-danger btn-sm ">Oturumu Kapat</button>
                            <button type="button" class="btn btn-success btn-sm ">Geri Dön</button>
                        </li>
                    </ul>
                </form>
            }
            else
            {
                <div class="">
                    <a class="GirisYapKayitOlButton container mx-auto" asp-controller="Auth" asp-action="Login">Giriş Yap / Kayıol</a>
                </div>
            }
        </div>

    </div>
    
</nav>


