@model string
@{
    @* /////////////////// Reset Password ////////////////////// *@
    string classShow = "";
    string ariaTrue = "";
    string DangerEmail = "";
    string feedback = "d-none";

    if (Model != null)
    {
        string IsSend = (string)Model;
        if (IsSend == "failure")
        {
            classShow = "show";
            ariaTrue = "true";
            DangerEmail = "border-warningg is-invalid";
            feedback = "invalid-feedback";
        }
    }


}






<div class="d-grid gap-2 position-absolute  m-0 p-0 w-100">
    <p class="btn-reset-head m-0 p-0 text-center fs-6 text-info" type="button" data-bs-toggle="collapse"
        data-bs-target="#parolamiUnuttum" aria-expanded="@ariaTrue" aria-controls="collapseExample">
        Şifrenizimi unuttunuz?
    </p>
</div>
<form method="post" asp-action="ResetPassword" asp-controller="Auth"
    class="collapse position-absolute mt-4 w-100 @classShow" id="parolamiUnuttum">

    <label class="form-label fs-5 " for="resetPasswordInput">E-posta adresinizi girinz:</label>
    <div class="w-75 mx-auto">
        <input class="form-control m-1 @DangerEmail" type="email" name="email" id="resetPasswordInput"
            aria-describedby="resetPasswordInputFeedback" placeholder="E-posta" required minlength="5" maxlength="50">
        <div id="resetPasswordInputFeedback " class="mt-0 ms-1 @feedback">
            Kullanıcı Bulunamadı.
        </div>
    </div>
    <button type="submit">Şifremi Sıfırla</button>

    <p type="button" class="close fs-1 text-center p-4" aria-label="Close" data-bs-toggle="collapse"
        data-bs-target="#parolamiUnuttum" aria-expanded="false" aria-controls="collapseExample">
        <span aria-hidden="true">&times;</span>
    </p>
</form>
