<style>
    .whatsapp:hover{
        opacity: 0.5;
    }
    .instagram:hover{
        opacity: 0.5;
    }
</style>
<div class="social fixed-bottom  rounded-end d-flex flex-column ps-3 pb-3" style="background-color: #000000c8;">
    <a href="https://wa.me/905525497474" target="_blank" class="whatsapp pb-0 " style="font-size: 2.3rem; color:green;"><i class="fa-brands fa-whatsapp "></i></a>
    <a href="https://www.instagram.com/novaturientpsikoloji/" target="_blank" class="instagram  pt-0 mt-3"><i class="fa-brands fa-instagram "></i></a>  
</div>

