@section NaciyeHakkinda_css {
    <link rel="stylesheet" href="~/css/NaciyeHakkinda.css" asp-append-version="true" />
}





<div class="d-flex px-3 py-5 hakkinda_container">
    <figure class="figure me-2 d-flex justify-content-around align-items-center" style="flex-shrink: 0;">
        <div>
            <img src="~/img/NaciyeUsta.jpg" class="figure-img img-fluid rounded" alt="Naciye Usta">
            <figcaption class="figure-caption">
                <div class="d-grid gap-2">
                    <a asp-controller="Work" asp-action="Terapiler" class="btn btn-outline-primary" type="button">
                        Şimdi Görüşmeye Başla
                    </a>
                </div>
                @* <i class=" fa-solid fa-play"></i> *@
            </figcaption>
        </div>
        <div class="Novaturiend_logo_Containet text-center ms-2">
            <img src="~/img/logo.jpg" class="figure-img img-fluid rounded" alt="Novaturient Psikoloji">
            <h1 class="text-center">Novaturient Psikoloji</h1>
        </div>
    </figure>
    <ul class="list-group shadow  list-group-flush h6">
        <li class="list-group-item editable" contenteditable="true">1170,00₺ Görüntülü 45 dk./ Sesli Görüşme 45 dk./
            Mesajlaşma 45 dk./ Çift Terapisi/ 3 Adet Seans Paketi (%5İndirimli)/ 5 Adet Seans Paketi (%12 İndirimli)/ 10
            Adet Seans Paketi (%15 İndirimli)</li>
        <li class="list-group-item">Naciye Usta, lisans eğitimini Orta Doğu Teknik Üniversitesi Psikoloji bölümünde
            tamamlamıştır. İstanbul ArelÜniversitesi Klinik Psikoloji programını bitirerek Klinik Psikolog unvanı almaya
            hak kazanmıştır.</li>
        <li class="list-group-item"> Usta, lisans ve yüksek lisans eğitimi sürecinde Eskişehir Devlet Hastanesine bağlı
            Alkol ve Madde Bağımlıları Tedavi Araştırma Merkezi (AMATEM), Toplum Ruh Sağlığı Merkezi, Psikiyatri
            Servisi, Psikoloji biriminde ve Humanite Tıp Merkezi'nde stajlarını tamamlamıştır.</li>
        <li class="list-group-item">2020 yılından bu yana profesyonel olarak; yetişkin, çocuk ve ergen danışanları ile
            online ve yüz yüzepsikoterapi süreci yürütmektedir.</li>
        <li class="list-group-item">Uzmanlık alanını nitelikli kılmak adına; Evlilik ve Çift Terapisi eğitimi, Boşanma
            eğitimi, Cinsel Terapi eğitimi, Psikolojik Testler eğitimi, Yetişkinlerde Görülen Ruhsal ve Psikolojik
            Bozukluklar eğitimi, Bireysel Psikoterapi eğitimi, Aile Danışmanlığı eğitimi, Bütüncül Çocuk ve Ergen
            Psikoterapisi eğitimi ve İleri Düzey Bilişsel ve Davranışçı Terapi eğitimini tamamlamıştır.</li>
        <li class="list-group-item">Bireysel terapi, evlilik ve çift terapisi, aile danışmanlığı, boşanma danışmanlığı,
            psikolojik ve ruhsal bozukluklar, bağımlılık psikolojisi, cinsel gelişim, çağdaş psikodinamik psikoterapi,
            bilişsel davranışçı terapi,sistemik aile terapisi ve bütüncül oyun terapisi alanlarında yetkinliği
            bulunmaktadır.</li>
        <li class="list-group-item">Naciye Usta, Novaturientde sizlere hizmet sunmaktan memnuniyet duymaktadır.</li>

    </ul>

</div>
